@model WS.Framework.Entity.ExpenseMaster
@{
    ViewBag.Title = "Expense Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Expense Record(s)</h3>
                @*<button id="addToTable" class="btn btn-primary waves-effect waves-light pull-right" onclick="ClearControls()" data-toggle="modal" data-target="#con-close-modal"><i class="fa fa-plus"></i></button>*@
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Expense date</th>
                                        <th>Client Name</th>
                                        <th>Expense type</th>
                                        <th>Expense mode</th>
                                        <th>Amount</th>
                                        <th>Remark</th>
                                        
                                        <th>Is Active</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="myData"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End row -->



@section scripts{
    <script>
        $(document).ready(function () {
            GetAll();
        });

        function Save() {
            if ($("#em_client_name").val() == null || $("#em_client_name").val() == '') { sweetAlert('Expense Name required !'); return false; }
            var formmodel = $("#ExpenseMasterForm").serialize();
            $.post("/ExpenseMaster/Save", formmodel, function (resdata) {
                $("#em_id").val('');
                $("#con-close-modal").modal('hide');
                sweetAlert(resdata);
                GetAll();
                ClearControls();
            });
        }

        function EditRecord(id) {
            $("#em_id").val(id)
            var mData = "{id:'" + id + "'}";
            $.ajax({
                type: "POST",
                url: "/ExpenseMaster/Get_GetAll",
                data: mData,
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    if (mRes.length > 0) {
                        $("#em_client_name").val(mRes[0].em_client_name);
                    }
                }
            });
        }

        function UpdateRecord(id, actionID) {
            swal({
                title: "Are you sure ?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: (actionID == '1' ? "Yes, delete it!" : "Yes, change it!"),
                closeOnConfirm: false
            }, function () {

                var mData = "{id:'" + id + "',ActionType:'" + actionID + "'}";
                $.ajax({
                    type: "POST",
                    url: "/ExpenseMaster/GeneralAction",
                    data: mData,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (mRes) {
                        if (actionID == '1') {
                            swal("Deleted!", "Record delete successfully.", "success");
                        }
                        else { swal("Changed!", "Record statue change successfully.", "success"); }
                        GetAll();
                    }
                });
            });
        }

        function GetAll() {
            var mData = "{id:'00000000-0000-0000-0000-000000000000'}";
            $.ajax({
                type: "POST",
                url: "/ExpenseMaster/Get_GetAll",
                data: mData,
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    if (mRes.length > 0) {
                        var InnerHTML = '';
                        for (var i = 0; i < mRes.length; i++) {
                            InnerHTML += '<tr>';
                            InnerHTML += '<td>' + formatDate(mRes[i].em_expenseDate.substring(6, mRes[i].em_expenseDate.length - 2), false) + '</td>';
                            InnerHTML += '<td>' + mRes[i].em_client_name + '</td>';
                            InnerHTML += '<td>' + mRes[i].et_typename + '</td>';
                            InnerHTML += '<td>' + mRes[i].em_modename + '</td>';
                            InnerHTML += '<td>' + mRes[i].em_amount + '</td>';
                            InnerHTML += '<td>' + mRes[i].em_remark + '</td>';
                            
                            InnerHTML += '<td><button type="button" id=' + mRes[i].em_id + ' onclick="UpdateRecord(this.id,2)" class="btn btn-' + (mRes[i].em_isactive == true ? 'info' : 'danger') + ' waves-effect waves-light">' + (mRes[i].em_isactive == true ? 'Active' : 'DeActive') + '</button></td></td>';
                            //InnerHTML += '<td><button type="button" id=' + mRes[i].em_id + ' onclick="EditRecord(this.id)" data-toggle="modal" data-target="#con-close-modal" class="btn btn-info waves-effect waves-light"><i class="md-mode-edit"></i></button>&nbsp;'
                            //    + '<button type="button" id=' + mRes[i].em_id + ' onclick="UpdateRecord(this.id,1)" class="btn btn-danger waves-effect waves-light"><i class="md-delete"></i></button></td>';
                            InnerHTML += '</tr>';
                        }
                        $("#myData").html(InnerHTML);
                    }
                    else { $("#myData").html(''); }
                }
            });
        }

        function formatDate(ms, displayTime) {
            var date = new Date(parseInt(ms));
            var hour = date.getHours();
            var mins = date.getMinutes() + '';
            var time = "AM";
            // find time
            if (hour >= 12) {
                time = "PM";
            }
            // fix hours format
            if (hour > 12) {
                hour -= 12;
            }
            else if (hour == 0) {
                hour = 12;
            }
            // fix minutes format
            if (mins.length == 1) {
                mins = "0" + mins;
            }

            // return formatted date time string
            if (displayTime)
                return date.getDate() + "/" + (date.getMonth().toString().length == 1 ? "0" : "") + (date.getMonth() + 1) + "/" + date.getFullYear() + " " + hour + ":" + mins + " " + time;
            else
                return date.getDate() + "/" + (date.getMonth().toString().length == 1 ? "0" : "") + (date.getMonth() + 1) + "/" + date.getFullYear();
        }

        function ClearControls() {
            $("#em_id").val('');
            $("#em_client_name").val('');
        }
    </script>
}